{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>FIXER HAPA</h1>
                    <h3>For all your repair and maintenance needs!</h3>
                    <hr class="intro-divider">

                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="{{ url_for('auth.login') }}" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Login</span></a>
                            </li>
                        <li>
                             <a href="{{ url_for('auth.register') }}" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Sign Up</span></a>
                              </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}